/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
    --bg-color: #000028;
    --background-image: url("../images/cover-image-dark.png");
    --decor-color: #FF0070;
    --decor-color-transparent: rgba(255, 0, 112, 0.4);
    --accent-color: #ff0070;
    --main-text-color: #f1b2ce;
    --title-color: #db00ff;
    --section-title-color: #ff0070;
    --button-color: #ff0070;
    --text-color-titles: #FF0070;
    --titles-color: #000028;
    --rec-display: block;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --background-image: url("../images/cover-image-dark.png");
        --decor-color: #ff0070;
        --decor-color-transparent: rgba(255, 0, 112, 0.4);
        --accent-color: #ff0070;
        --main-text-color: #f1b2ce;
        --title-color: #db00ff;
        --section-title-color: #ff0070;
        --button-color: #ff0070;
        --text-color-titles: #FF0070;
        --titles-color: #000028;
        --rec-display: block;
    }
}