/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
    --bg-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --decor-color: #353430;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --section-title-color: #FF8DCB;
    --button-color: #353430;
    --text-color-titles: #353430;
    --titles-color: #353430;
    --rec-display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-image: url("../images/cover-image-light.png");
        --decor-color: #353430;
        --accent-color: #FF8DCB;
        --main-text-color: #353430;
        --title-color: #FFC2E6;
        --section-title-color: #FF8DCB;
        --button-color: #353430;
        --text-color-titles: #353430;
        --titles-color: #353430;
    }
}